@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #003eff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}



.headings h1 {
  color: white;
  font-size: 4vw;
}

.headings h3 {
  color: white;
  font-size: 2vw;
  font-weight: normal;
}

.canvascontainer {
  width: 100%;
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 100%; 
  aspect-ratio: 1/1; 
  background-color: rgba(255, 255, 255, 0.371);
  border: 1px solid black;
  border-radius: 16px;
  touch-action: none;
  margin: 5px;
  backdrop-filter: blur(10px);
}

.controls {
  width: 100%;
  max-width: 270px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn {
  height: 50px;
  width: 120px;
  background-color: white;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 5px 5px 2px black;
  transform: translateY(-5px);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
  transform: none;
}
@media (max-width: 1024px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .headings{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .btn {
    height: 40px;
    width: 100px;
    font-size: 10px;
  }

  .controls {
    max-width: 220px; 
  }
}
@media (max-width: 426px) {
  .headings h1{
    font-size: 7vw;
  }
  .headings h3{
    font-size: 3vw;

  }
}
